@charset "UTF-8";

body{
    background-color: #83E6CE;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #1A6150}
   
#principal{
    text-align: center;
    color: #83E6CE;
    background-color: #376157;
    font-weight: bolder;
    width: 600px;
    padding: auto;
    margin: auto;
}

h2{
    color: green;
}


p{
    color: #1A6150;
}

.avancado{
    color: #E0264C;
}
.negrito{
    font-weight: bolder;
}
