@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100%;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 40px;
}

header > p{
    padding-bottom: 40px
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    color: bisque;
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(88, 88, 88);
    color: white;

}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.221);
    width: 400px;
}

footer{
    background-color: black;
    text-align: center;
    padding: 5px;
}